html, body {
    margin: 0;
    padding: 0;
  }

header > table {
    background-color: #004e71;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
}


.conteiner1 {
    background: url(imags/background_section_1.png);
}

.conteiner2 {
    text-align: center;
    background-color: #0077f9;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
}

#direita {
    text-align: left;
}


footer#rodape {
    text-align: center;
    color: white;
    background-color: #004e71;
    padding: 1px;
}

footer#logo {
    text-align: center;
    margin-top: 0px;
}

