
* {
    background-color: #004e71;
    text-align: center;
}

header#faixa1 {
    text-align: center;
    background-color: #004e71;
}

footer#rodape {
    text-align: center;
    color: white;
    background-color: #004e71;
    padding: 1px;
}

footer#logo {
    text-align: center;
    margin: 0px;
    padding: 0px;
}