* {
    font-family: 'Source Sans Pro', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
  }

header > table {
    background-color: #004e71;
    color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 12px;
}

header > table button {
    color: white;
    font-size: 10px;
    border-color: white;
    margin-right: 50px;
}

.container1 {    
    background: url(imags/bg1.png);
    color: #004e71;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    padding: 0 300px;
    padding-top: 50px;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}

.container1 img {
    height: 330px;
    display: block;
}

.container1 p {
    font-size: 16px;
    color: #004e71;
    opacity: .5;
}

.container1 p.paragrafo1 {
    font-size: 17px;
}

.container1 h1 {
    font-size: 32px;
}

.container1 .content {
    position: absolute;
    text-align: initial;
    left: 300px;
}

.container1 .content2 {
    font-size: 12px;
}

.container2 {
    text-align: center;
    background-color: #0077f9;
    color: white;
    margin: 0px;
    padding: 30px;
    font-size: 10px;
}

.container2 h1 {
    font-size: 22px;
    padding: 5px;
    border: none;
}

.container2 p{
    margin: 6px;
}

body > section.container2 > button{
    color: #004e71;
    background-color: #fff;
    font-size: 18px;
    outline:none;
    width: 290px;
    height: 50px;
    border: 0px;
 }

.container4 {
    background-color: #0077f9;
    height: 300px;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.container4 hr {
    margin: 0px;

}

.coluna-50 {
    width: 50%;
}

#direita {
    text-align: right;
    font-size: 20px;
}

#esquerda {
    text-align: left;
    font-size: 15px;
}

footer#rodape {
    text-align: center;
    color: white;
    background-color: #004e71;
    padding: 20px;
    font-size: 8px;
}

footer#logo {
    text-align: center;
    margin-top: 0px;
}

 body > section.container3{
    text-align: center;
    padding: 80px;
    font-family: Arial, Helvetica, sans-serif;
    
 }

 /*Ocultando barra de rolagem */
 ::-webkit-scrollbar {
    display: none;
}

 body > section.container3 > table{
   margin-left: 450px;
   padding: 50px;
   border-collapse: collapse;

}

 
 
 
 