@charset "UTF-8"

body#faixa1 {
    background-color: #004e71;
    text-align: center;
}

footer#rodape {
    text-align: center;
    color: white;
    background-color: #004e71;
    padding: 1px;
}

footer#logo {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

section#perguntas {
    text-align: center;
}